/*  Colors */
header h1,
header h2,
header h3,
header p,
section h1,
section h2,
section p,
footer h3 {
    color: #fff;
}

.card-text {
    color: black;
}


/* Layout */
@media (max-width: 576px) {
    header .container-fluid,
    section .container-fluid,
    footer .container-fluid {
        padding:10px 20px;
    }
}

@media only screen and (max-width: 768px) and (min-width:577px) {
    header .container-fluid,
    section .container-fluid,
    footer .container-fluid {
        padding:10px 20px;
    }
}

@media only screen and (max-width: 992px) and (min-width: 769px){
    header .container-fluid,
    section .container-fluid,
    footer .container-fluid {
        padding: 20px 80px;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
    header .container-fluid,
    section .container-fluid,
    footer .container-fluid {
        padding: 20px 100px;
    }
}

@media only screen and (min-width: 1400px) {
    header .container-fluid,
    section .container-fluid,
    footer .container-fluid {
        padding: 20px 200px;
    }
}


/* Extra */
.z-index-100 {
    position: relative;
    z-index: 100;
}

